/*styling the about section*/

/*Skills*/
.skills_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
     
}

#skills h1{
    text-align: center;
    font-size: 2rem;
    color: white;
}

.skills_content{
    /*background-color: #f3d9fa;*/
    color: white;
    flex: 1;
    padding: 20px;
    /*text-align: center;*/
    line-height: 1.6;
    margin-left: 30px;
    
}

.skills_content h3{
    text-align: center;
}

