form{
    padding: 20px;
    width: 90%;

}

input[type="text"],
input[type="password"],
input[type="email"]{
    padding: 5px;
    margin: 10px 10px;
    width: 90%;
}
#message{
    width: 100%;
}
.submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #862e9c;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #be4bdb;
}

#findMe{
    margin-top: 80px;
}