.contact{
    background: rgb(1, 1, 26);
    
}

.submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #0073e6;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #005bb5;
}