
*{
    margin: 0;
    padding: 0;
   
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

:root{
    --bg-color: rgb(1, 1, 26);;
    --second-bg-color: whitesmoke;
    --text-color: #fff;
    --main-color: #da77f2;

}

html{
    
    overflow-x: hidden;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

.header{
    position: fixed;
    top: 4px;
    left: 0;
    width: 100%;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2.5rem;
    font-family: "Permanent Marker";
    color: var(--text-color);
    font-weight: 600;
    left: 10px;
    cursor: default;
}

.navbar{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar a{
    display: inline-block;
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 5px;
    transition: .3s;
    padding: 5px;
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}

/*About me drop down content*/

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background: #f3d9fa;
}

.dropdown-content a:hover {
    background-color: #862e9c;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

section{
    /*min-height: 120vh;*/
    padding: 2rem 9% 3rem;  /*change 2rem 9% 1rem*/
    font-weight: 700px;
}

.home-content{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    
    
}

.home-content h3{
    font-size: 2.2rem;
}
.home img{
    width: 35vw;
}

.intro-text{
    max-width: 50%;;
}

.intro-text .greeting{
    display: flex;
    align-items: center;
    margin: 5px 0;
}
.cv_download{
    margin-top: 30px;
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1 rem var(--main-color);
    font-size: 1.6 rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.cv_download:hover{
    background: #862e9c;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

#about{
    background: rgb(1, 1, 26);
    
}

#about-heading{
    font-size: 3 rem;
}
#about-me{
    padding: 20px;
}
#about-me p{
    font-size: 1.5rem;
    

}
#interests{
    padding: 20px;
    font-size: larger;
    line-height: 1.5;

}


/*Media queries for responsiveness*/

/*larger screens > 768 px*/
@media (max-width: 768px){
   .navbar{
        display: none;
        flex-direction: column;
        width: 100%;
   }
}

